.cart-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 100px 0 0 100px;
    background-color: rgb(42, 20, 4);
  }